div.lm_content:has( #impressiveCanvas ){
  background: white repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgSURBVHgB7cAxDQAACAOwBeVI58HDnjb7UjIBAAAAyg6hHgQDoYSOAQAAAABJRU5ErkJggg==");
}

#impressiveCanvas{
  height: 100%;
  width: 100%;
  background: white repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgSURBVHgB7cAxDQAACAOwBeVI58HDnjb7UjIBAAAAyg6hHgQDoYSOAQAAAABJRU5ErkJggg==");
  background: transparent;

  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  user-select: none;
}

#origin{
  background: #000;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
}
