body{
  counter-reset: step;
}

div#StepListWindow{
  overflow: scroll;
  background: cyan;
}

div.lm_content {
  overflow: scroll;
}

div#AddStep {
  width:100%;
}
div#AddStep > svg {
  width: 100%;
  height: 100%;
}

div.step{
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
  background: white;
  text-align: center;
  align-content: center;
}
div.step::before{
  counter-increment: step;
  content: counter(step) " - ";
}

div.sortable-ph{
  border: 3px solid red;
  background: blue;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}
